*,
*::before,
*::after {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/Muller Regular'), url('../fonts/Muller-Regular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}
.container{
    width: 85%;
    max-width: 1200px;
    margin: auto;
}
.header{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
}
.phone-number{
    display: block;
    margin-left: 15px;
    margin-right: 90px;
}
.heading-red{
    color: #D02B38;
    margin-bottom: 2px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 143.69%;
    line-height: 23px;
}
.heading-normal{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.69%;
    color: #000000;
}
.img-facebook{
    margin-right: 25px;
}
.img-instagram{
    margin-right: 120px;
}
.img-logo{
    display: flex;
    margin-bottom: 10px;
}
.logo-text{
    margin-left: -10px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.69%;
    letter-spacing: -0.02em;
    color: #000000;
}