*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/Muller Regular'), url('../fonts/Muller-Regular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}
.container{
    width: 85%;
    max-width: 1200px;
    margin: auto;
}
.header{
    margin-top: 50px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.phone-number{
    display: block;
    margin-left: 15px;
    margin-right: 90px;
}
.heading-red{
    color: #D02B38;
    margin-bottom: 2px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 143.69%;
    line-height: 23px;
}
.heading-normal{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.69%;
    color: #000000;
}
.img-facebook{
    margin-right: 25px;
}
.img-instagram{
    margin-right: 100px;
}
.logo{
    margin-right: 100px;
}
.img-logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
.logo-text{
    margin-left: -10px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.69%;
    letter-spacing: -0.02em;
    color: #000000;
}
.trans-ru{
    margin-right: 20px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 143.69%;
    color: #D02B38;
}
.trans-lat{
    margin-right: 60px;
    color: rgba(0, 0, 0, 0.2);
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 143.69%;
}
.img-loupe{
    margin-right: 20px;
}
.img-cart{
    margin-right: 15px;
}
.card-wrap{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.card{
    position: relative;
    margin: 0 50px 60px 0;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
}
.main-heading--red{
    display: block;
    position: absolute;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #D02B38;
    left: 0;
    right: 0;
}
button{
    border: none;
}
.button-all{
    padding: 13px 30px 13px 30px;
    display: block;
    position: absolute;
    bottom: 10%;
    max-width: 200px;
    max-height: 52px;
    background: #F9F9F9;
    border-radius: 10px;
    left: 30%;
    outline: none;
    border: none;
}
#btnLeft{
    position: relative;
    left: 40px;
}
.btn-text{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    text-decoration: none;
}
.about{
    background: #F9F9F9;
}
.about{
    padding-top: 50px;
    padding-bottom: 76px;
}
.regular-heading{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #333333;
}
.about-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 230px;
    margin: auto;
    margin-bottom: 50px;
}
.about-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.about-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.about-heading--red{
    font-family: Muller;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 143.69%;
    text-align: left;
    letter-spacing: -0.02em;
    color: #D02B38;
    margin: 0;
}
.about-text{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143.69%;
    letter-spacing: 0.02em;
    color: #000000;
}
.about-logo{
    margin-right: 30px;
}
.about-info{
    display: block;
}
.reg-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 360px;
    margin: auto;
    margin-bottom: 20px;
}
.photos{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 50px;
}
.clothes{
    padding-top: 50px;
    padding-bottom: 75px;
}
.clothes-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.clothes-box{
    margin-left: 15px;
    margin-right: 15px;
}
.clothes-heading{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143.69%;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 0;
}
.clothes-text{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.69%;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.5);
}
.clothes-img{
    width: 250px;
    margin-bottom: 20px;
}
.partners{
    padding-top: 50px;
    padding-bottom: 80px;
    background: #F9F9F9;
}
.part-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 350px;
    margin: auto;
    margin-bottom: 60px;
}
.partners-wrap{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-between;
}
.partners-box--long{
    background: url('../img/shop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    width: 68%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.partners-box--short{
    background: url('../img/note.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.long-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 280px 30px 35px 30px;
}
.button-all a {
    text-decoration: none;
    color: #000000;
}
.short-info{
    position: relative;
    top: -35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 170px 41px 112px 41px;
}
.long-text{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 143.69%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.short-text{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 143.69%;
    text-align: center; 
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.long{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F9F9F9;
    border-radius: 10px;
    margin-left: 25px;
    max-height: 45px;
    margin-top: 17px;
    max-width: 200px;
    padding-left: 60px;
}
.delivery{
    padding-top: 50px;
    padding-bottom: 64px;
}
.del-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 150px;
    margin: auto;
    margin-bottom: 60px;
}
.delivery-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.omniva{
    margin-right: 115px;
}
.pay{
    background: #F9F9F9;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pay-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 270px;
    margin: auto;
    margin-bottom: 40px;
}
.pay-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.pay-img{
    margin: auto;
    margin-right: 105px;
}
.footer{
    background: #181818;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0;
}
.footer-wrap{
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 70px;
}
.footer-group-col{
    position: absolute;
    display: block;
    margin-left: 700px;
    margin-top: -120px;
}
.light-heading{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 143.69%;
    letter-spacing: 0.08em;
    color: rgba(255, 255, 255, 0.6);
}
.links{
    text-decoration: none;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 143.69%;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.mark{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 143.69%;
    color: #FFFFFF;
}
.tabs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
}
.footer-logo{
    margin-right: 25px;
}
.form-text{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 143.69%;
    color: #000000;
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
}
.form-text:focus::-webkit-input-placeholder {
    color: transparent
}
  
  :focus::-moz-placeholder {
    color: transparent
  }
  
  :focus:-moz-placeholder {
    color: transparent
  }
  
  :focus:-ms-input-placeholder {
    color: transparent
  }
.form{
    display: block;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.red-btn{
    background: #D02B38;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    outline: none;
    border: none;
}
.swiper-button-next{
    position: absolute;
    top: 3370px;
    right: 280px;
}
.swiper-button-prev{
    position: absolute;
    top: 3380px;
    left: 280px;
}
.phone-img{
    margin-left: -25px;
}
.swiper-button-prev,
.swiper-button-next{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    height: 30px;
    width: 30px;
}
.shirts-nav{
    justify-content: left;
    margin-bottom: 26px;
}
.nav--links{
    text-decoration: none;
    margin-right: 70px;
    color: rgba(51, 51, 51, 0.2);
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: -0.02em;
}
.nav--links:hover{
    color: #333333;
    border-bottom: 4px solid #D02B38;
    transition: all 0.3s ease-in;
}
.shirts{
    margin-left: 30%;
}
.shirts--container{
    width: 95%;
    margin: auto;
}
.shirts--wrap{
    display: flex;
    flex-wrap: wrap;
}
.shirts--card{
    margin-right: 25px;
    display: flex;
    width: 200px;
    height: 400px;
    flex-direction: column;
    margin-bottom: 17px;
}
.shirts--card:hover{
    cursor: pointer;
    border: 3px solid #D02B38;
}
.shirts--info{
    text-align: center;
    background: #F9F9F9;
}
.shirts--img{
    position: relative;
}
.shirts--img--text{
    display: flex;
    z-index: 10;
    position: absolute;
    margin-top: 15px;
}
.shirts--img--text__newText{
    margin-left: -53px;
    margin-top: 5px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 143.69%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.shirts--info__heading{
    padding-top: 10px;
    margin-bottom: 6px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}
.shirts--info__text{
    margin-bottom: 6px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.5);
}
.shirts--info__number{
    margin-bottom: 8px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}
.shirts--info__typeBlue{
    margin-bottom: 5px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2B6DD0;
}
.shirts--info__typeRed{
    margin-bottom: 5px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #D02B38;
}
.shirts--info__price,
.shirts--info__priceRed,
.shirts--info__priceNone{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 143.69%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
}
.shirts--info--prices{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.shirts--info__priceRed{
    color: #D02B38;
    margin-right: 17px;
}
.shirts--info__priceNone{
    text-decoration: line-through;
}
.delivery-car{
    background: #F9F9F9;
}
.delivery--car--wrap{
    padding-top: 50px;
    padding-bottom: 50px;
}
.delivery--car--wrap{
    display: flex;
    align-items: center;
}
.delivery--car--photo{
    margin-right: 25px;
}
.delivery--car--heading{
    margin-right: 80px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #333333;
}
.delivery--car--img1{
    background: url("../img/omniva.png") no-repeat;
    width: 200px;
    height: 40px;
    margin-right: 50px;
}
.delivery--car--img2{
    background: url("../img/work-are.png") no-repeat;
    width: 200px;
    height: 40px;
}
.pink{
    background: rgba(208, 43, 56, 0.5);
    padding-top: 42px;
    padding-bottom: 42px;
}
.pink--wrap{
    display: flex;
    align-items: center;
}
.pink--img{
    background: url("../img/!.svg") no-repeat;
    width: 200px;
    height: 100px;
    margin-right: 50px;
}
.pink--text{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 143.69%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
/* <general> */
a{
    text-decoration: none;
    color: #000000;
}
/* </general> */
.shop__items{
    position: absolute;
    left: 10%;
}
/* <shop__item-nav> */
.shop__item-nav{
    width: 20%;
    min-width: 175px;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.menu {
    padding:0;
  }
  .menu__head{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
.menu__title-1{
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000 !important;
    padding: 5px 0;
}
.menu__title-1 img{
    margin-left: 5px;
    width: 15px;
}
.menu__title-2{
    font-weight: bold;
    font-size: 18px;
    line-height: 143.69%;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.3) !important;
}
/* </shop__item-nav> */

/* <menu__size> */
.menu__size{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}
/* </menu__size> */

/* <checkbox> */
.checkbox{
    display: none;
}
.fake-checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    position: relative;
}
.fake-checkbox::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 8px;
    height: 8px;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}
.checkbox:checked + .fake-checkbox::before{
    opacity: 1;
}
.label{
    position: relative;
}
.label a{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* </checkbox> */
.shop__item-title{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 25px;
    padding-bottom: 15px;
}
/* <slider> */
.middle {
	position: relative;
	/* width: 50%; */
    max-width: 500px;
    margin-top: 20px;
}

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	/* margin: 0 15px; */
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #B3B3B3;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #D02B38;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background-color:#D02B38;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(0,0,0,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(0,0,0,.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}
/* </slider> */

@media (max-width:1280px){
    .short-info{
        top: -66px;
        left: -10px;
    }
}
@media (max-width:1890px){
    .swiper-button-next{
        right: 230px;
    }
    .swiper-button-prev{
        left: 230px;
    }
}
@media (max-width:1800px){
    .swiper-button-next{
        right: 200px;
    }
    .swiper-button-prev{
        left: 200px;
    }
}
@media (max-width:1740px){
    .swiper-button-next{
        right: 170px;
    }
    .swiper-button-prev{
        left: 170px;
    }
}
@media (max-width:1250px){
    .long-info{
        padding-top: 180px;
    }

}
@media (max-width:1670px){
    .swiper-button-next{
        right: 130px;
    }
    .swiper-button-prev{
        left: 130px;
    }
}
@media (max-width:1120px){
    .long-info{
        left: 20px;
    }
    .swiper-button-next{
        margin-top: -485px;
    }
    .swiper-button-prev{
        margin-top: -485px;
    }
}
@media (max-width:1580px){
    .swiper-button-next{
        right: 90px;
    }
    .swiper-button-prev{
        left: 90px;
    }
}
@media (max-width:1500px){
    .swiper-button-next{
        right: 40px;
     }
     .swiper-button-prev{
        left: 40px;
     }
}
@media (max-width:860px){
    .red-btn,
    .form{
        width: 100%;
        font-size: 12px;
    }
}
@media (max-width:800px){
    .swiper-button-next{
        right: 20px;
        top:2530px;
    }
     .swiper-button-prev{
        left: 20px;
        top:2530px;
    }
}
@media (max-width:1400px){
    .heading-red{
        font-size: 12px;
    }
    .card{
        margin: 0 20px 20px 0;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
    }
    .card-img{
        width: 450px;
    }
    .clothes-img{
        width: 225px;
    }
    .phone-number{
        margin-right: 40px;
    }
    .img-instagram{
        margin-right: 60px;
    }
    .trans-lat{
        margin-right: 50px;
    }
    .logo{
        margin-right: 50px;
    }
    .shirts--card{
        width: 150px;
        height: 350px;
        margin-bottom: 50px;
    }
}
@media (max-width:1110px){
    .nav--links{
        font-size: 20px;
    }
    .card-img{
        width: 350px;
    }
    .shirts--card{
        width: 125px;
        height: 300px;
        margin-bottom: 100px;
    }
}
@media (max-width:900px){
    .shirts--card{
        margin-right: 100px;
    }
    .shop__items{
        display: none;
    }
    .card-img{
        width: 250px;
    }
    .main-heading--red{
        font-size: 30px;
    }
    .view{
        left: 10%;
    }
    .button-all{
        left: 20%;
        font-size: 13px;
    }
}
@media (max-width:640px){
    .partners-wrap{
        flex-wrap: wrap;
    }
    #btnLeft{
        left: 0;
    }
    body{
        font-size: 12px;
    }
    .view{
        width: 150px;
        height: 40px;
    }
    .btn-text{
        font-size: 13px;
        line-height: 12px;
    }
    .button-all{
        left: 20%;
    }
    .card-img{
        width: 200px;
    }
    .basket{
        display: none;
    }
    .head-img{
        display: none;
    }
    .phone-number{
        display: none;
    }
    .phone-img{
        display: none;
    }
    .img-facebook{
        display: none;
    }
    .img-instagram{
        display: none;
    }
    .trans-ru,
    .trans-lat{
        display: none;
    }
    .main-heading--red {
        font-size: 20px;
    }
    .about-heading--red{
        font-size: 22px;
    }
    .about-wrap{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .about-box{
        margin-bottom: 20px;
    }
    .clothes-img{
        width: 75px;
    }
    .clothes-heading{
        font-size: 14px;
    }
    .clothes-text{
        font-size: 10px;
    }
    .shop-img{
        width: 300px;
        margin-bottom: 20px;
    }
    .note-img{
        width: 300px;
    }
    .long-info{
        padding: 0;
        margin-top: 200px;
        margin-left: 40px;
    }
    .long-text{
        font-size: 12px;
    }
    .omniva{
        width: 40%;
    }
    .work-img{
        width: 40%;
    }
    .swiper-button-next {
        right: 0px;
        top: 2150px;
    }
    .swiper-button-prev {
        left: 0px;
        top: 2150px;
    }
    .short-text{
        font-size: 16px;
    }
    .short-info{
        padding: 100px 41px 112px 41px;
    }
    .pay-img{
        margin: 0;
        width: 30%;
    }
    .links{
        font-size: 10px;
    }
    .light-heading{
        font-size: 10px;
    }
    .form-inputs{
        position: absolute;
        margin-left: 250px;
        margin-top: 130px;
    }
    .card{
        margin: 0;
    }
    .red-btn,
    .form{
        width: 80%;
        font-size: 12px;
    }
    .footer-imgs{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (max-width: 500px){
    .card-img{
        width: 150px;
    }
}

@media (max-width: 450px){
.card-img {
    width: 139px;
}
.view {
    width: 100px;
}
}
@media (min-width:1400px){
    .footer-group-col{
        margin-left: 900px;
    }
}
@media (min-width:1600px){
    .footer-group-col{
        margin-left: 1000px;
    }
}